body{
    background: #fff;
}
.buySuccessBox{
    margin-top: 0.8rem;
    padding: 0.8rem 0.32rem 0.32rem 0.32rem;
}
.buySuccessBox img{
    width: 1rem;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-size: 0.32rem;
    color: #333;
    font-weight: bold;
    margin-top: 0.44rem;
}
ul{
    margin-top: 0.8rem;
}
li{
    margin-bottom: 0.24rem;
    font-size: 0.28rem;
    color: #333;
}
li p:first-child{
    color: #666;
}
.downBotton{
    border-radius: 0.04rem;
    border: none;
}
.buttonBox{
    position: absolute;
    width: 100%;
    bottom: 0.32rem;
    left: 0rem;
    padding: 0rem 0.32rem;
}
.failReason{
    text-align: center;
    font-size: 0.28rem;
    color: #999;
    margin-top: 2rem;
}