.topBox{
    /*height: 197rem;*/
    background: #fff;
    text-align: center;
    margin-top: 0.8rem;
}
.topBox p:first-child{
    padding-top: 0.32rem;
}
.showImg{
    width: 0.4rem;
    height: 0.28rem;
    margin-top: 0.36rem;
    margin-left: 0.08rem;
}
.topBox p:nth-child(2){
    font-size: 0.72rem;
    color: #ff5151;
    font-family: 'DIN Alternate';
    margin-top: 0.28rem;
}
.topBox div span{
    margin-top: 0.16rem;
    border:1rem solid rgba(255,71,71,0.4);
    color: #ff5151;
    width: 1.2rem;
    height: 0.4rem;
    font-size: 0.2rem;
    border-radius: 0.04rem;
    display: inline-block;
}
.topBox ul li{
    width: 33.33%;
}

.bigRed li{
    font-size: 0.28rem;
    margin-top: 0.12rem;
    color: #333;
}
.question{
    height: 0.24rem;
    margin-left: 0.08rem;
    margin-top: 0.08rem;
}

.middleBox,.cashBox{
    margin-top: 0.24rem;
    background: #fff;
    font-size: 0.24rem;
    color: #333;
    padding:0.24rem 0.24rem 0.24rem 0.24rem;

    text-align: left;
}
.middleBox div,.middleBox div{
    width: 50%;
    font-size: 0.32rem;
}
.middleBox div p:first-child{
    font-size: 0.24rem;
    color: #999;
    margin-bottom: 0.1rem;
}
.middleBox div:last-child p{
    margin-left: 0.32rem;
}
.cashBox div p:first-child{
    font-size: 0.24rem;
    color: #333333;
    margin-bottom: 0.10rem;
}
.cashBox div p:last-child{
    font-size: 0.32rem;
    color: #333333;
    /*margin-bottom: 12rem;*/

}
.borderLeft{
    left: 19%;
}
.borderRight{
    right:19%;
}
.bottomBox{
    margin-top: 0.24rem;
    background: #fff;
    padding:0rem 0.32rem;
    color: #333;
}
.bottomBox div{
    height: 0.96rem;
    font-size: 0.32rem;
    line-height: 0.96rem;
}
.bottomBox img{
    height: 0.32rem;
    margin-top: 0.32rem;
}
.arrow img{
    height: 0.32rem;
    margin-top: 0.35rem;
}
.buttons{
    position: absolute;
    bottom:0rem;
    width: 100%;
}
.sellOut{
    background: #fff;
    color: #ff5151;
}




